@using ExchangeData.BLL.Models
@model List<MessageModel>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "About";
}



<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@*<h5>@Model.Id</h5>
    <h5>@Model.Name</h5>
    <h5>@Model.Email</h5>
    <h5>@Model.PhoneNumber</h5>
    <h5>@Model.MessageHeading</h5>
    <h5>@Model.Message</h5>*@

@*@(Html.Kendo().TextBox()
        .Name("textbox") // The name of the TextBox is mandatory. It specifies the "id" attribute of the TextBox.
        .Value("John Doe") // Set the value of the TextBox.
    )*@


<div class="code-cut">


    @(Html.Kendo().Grid<MessageModel>().Name("Grid").Columns(columns =>
        {
            columns.Bound(p => p.Id).Width(140);
            columns.Bound(p => p.Name).Width(140);
            columns.Bound(p => p.PhoneNumber).Width(140);
            columns.Bound(p => p.Email).Width(140);
            columns.Bound(p => p.MessageHeading).Width(140);
            columns.Bound(p => p.Message).Width(140);
        }).DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("GetData", "Home")))
    )





</div>
<script>
    

</script>



